.github-project__heading{
    color: purple;
    display: flex;
    margin-left: 4px;   
}
.github-project__homebtn{
    color: black;
    background-color: white;
    border: 1px solid black;
    width: 80px;
    height: 30px;
    margin-top: 4px;
}
.github-project__users__title{
    color: purple;
}
.github-project__users__submitbtn{
    margin-left: 4px;
    border: 1px solid black;
    width: 80px;
}
.github-project__users__loc{
    display: flex;
    margin-left: 505px;
}
